<%= javascript_pack_tag 'hello_elm' %>

<section class="hero is-dark">
  <div class="hero-body">
    <section class="container">
      <h1 class='title'>My wonderful flower shop</h1>
    </section>
  </div>
</section>
