$watermelon: #F63E5F;
$mineshaft: #323232;

$primary: $watermelon;
$dark: $mineshaft;

@import "~bulma/bulma.sass";

.card-footer-item.is-primary {
    background-color: $primary;
    color: $primary-invert;
}
